<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Users</title>
  </head>
  <nav>
    <a href="forhire/true">Click here for available workers</a>
  </nav>
  <body>
    {{#users}}
      {{name}}
    {{/users}}
  </body>
</html>
